<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  

    <script src="{% static 'js/script.js' %}" defer></script>
    <title>{% block title%} Приложение Django {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">Обо мне</a></li>
            <li><a href="{% url 'posts:list' %}">Посты</a></li>
            <li><a href="{% url 'comms:list' %}">Группы</a></li>
            <!--<li class="reg_log"><a href="{% url 'users:register_view' %}">Регистрация</a></li>
            <li class="reg_log"><a href="{% url 'users:login_view' %}">Войти</a></li>-->
            <li><a href="{% url 'posts:new-post' %}">Новый пост</a> | <a href="{% url 'comms:new-comm' %}">Новая группа</a></li>
            {% if user.is_authenticated %}
            
                <li class="exit"><form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" title="User Logout">Выйти</button>
                </form></li>
            {% else %}
                <li class="reg_log">
                    <a href="{% url 'users:register_view' %}">Зарегистрироваться</a> / <a href="{% url 'users:login_view' %}">Войти</a></li>
            {% endif %}
        
        </ul>
    </nav>

    <main>
        <br>
        
        {% block content%} {% endblock%}
    </main>

    
</body>
</html>